{% from "_render_field.html" import render_field %}
{% extends 'parent.html' %}

{% block title %}
Workers
{% endblock %}

{% block content %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/worker.css') }}">
<div class="worker_container row">
    {% for worker in workers %}
    <a href="{{ url_for('worker.view', workerId=worker.id) }}" class="worker col col-sm-3">
        <div class="worker_name">
            <span class="last_name">{{worker.last_name}}</span>
            <span class="first_name">{{worker.first_name}}</span>
            <span class="surname">{{worker.surname}}</span>
        </div>
        <div class="worker_image"></div>
        <div class="worker_data">
            <span class="worker_address">Address: {{worker.address}}</span>
            <span class="worker_email">Email: {{worker.email}}</span>
            <span class="worker_mobile">Mobile: {{worker.mobile}}</span>
            <span class="worker_hired_at">Hired at: {{worker.hired_at}}</span>
            <span class="worker_grade">Grade: {{get_grade_name(worker.grade_id)}}</span>
            <span class="worker_salary">Salary: {{worker.salary}}$</span>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}