{% from "_render_field.html" import render_field %}
{% extends 'parent.html' %}

{% block title %}
{{worker.first_name}} {{worker.last_name}} worker
{% endblock %}

{% block content %}
<link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/worker.css') }}">
<div class="worker_main_details">
    <div class="worker_opened">
        <div class="worker_opened_name">
            <span class="last_name">{{worker.last_name}}</span>
            <span class="first_name">{{worker.first_name}}</span>
            <span class="surname">{{worker.surname}}</span>
        </div>
        <table class="table">
            <thead>
                <tr>
                  <th scope="col">Attribute</th>
                  <th scope="col">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                  <th scope="row">Address</th>
                  <td>{{worker.address}}</td>
                </tr>
                <tr>
                  <th scope="row">Email</th>
                  <td>{{worker.email}}</td>
                </tr>
                <tr>
                  <th scope="row">Mobile</th>
                  <td>{{worker.mobile}}</td>
                </tr>
                <tr>
                  <th scope="row">Hired at</th>
                  <td>{{worker.hired_at}}</td>
                </tr>
                <tr>
                  <th scope="row">Grade</th>
                  <td>{{get_grade_name(worker.grade_id)}}</td>
                </tr>
                <tr>
                  <th scope="row">Salary</th>
                  <td>{{worker.salary}}$</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="worker_buttons">
        <a href="{{ url_for('worker.delete_worker', workerId=worker.id) }}"><button class="btn btn-danger">Delete</button></a>
        <a href="{{ url_for('worker.update_worker', workerId=worker.id) }}"><button class="btn btn-primary"> Edit </button></a>
    </div>
</div>

{% endblock %}